@page "/razor.html"

@{
    Layout = "/_Layout.cshtml";
}

<h1>Giới thiệu về razor</h1>

<p>Razor là một template engine trong .Net . Nó là Template engine mặc định 
    của Asp.Net, có chức năng render (dựng) HTML từ các view (.cshtml)
    View(.cshtml) cho phép vietes html và nhúng mã c#
</p>
